<div class="row">
    <div class="col-md-12">
        <div class="loading-notice">
            <i class="fa fa-spin fa-cog fa-6" style="font-size: 20em;"></i>
            <p class="lead">
                I'm loading your library, please wait one moment...
            </p>
        </div>
        <div class="library-thumbnails">
            <div class="summary">
                <img src="{{player.avatar_large}}" class="avatar img-rounded img-responsive" />
                <h2 class="username">{{player.username}}</h2>
                <p class="lead">
                    Completed {{library.completed_count}}/{{library.game_count}} games ({{library.completion_percent}}%)
                </p>
                <div class="progress">
                    <div class="progress-bar" style="width: {{library.completion_percent}}%;"></div>
                </div>

                <div class="clearfix"></div>
            </div>

            {{#if library.games}}
                {{#each library.games}}
                    <div class="game-thumbnail block">
                        <div class="game-list-item">
                            <span class="pull-left">
                                <span class="icon">
                                    <img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{appid}}/{{img_icon_url}}.jpg" />
                                </span>
                                <span class="name">
                                    {{name}}
                                </span>
                            </span>
                            <span class="pull-right">
                                {{#if ../read_only}}
                                    {{#if completed}}
                                        <label class="checkbox disabled checked">
                                            <input type="checkbox" value="" checked="checked" name="{{appid}}" id="{{appid}}" data-toggle="checkbox" disabled>
                                            Completed
                                        </label>
                                    {{else}}
                                        <label class="checkbox disabled">
                                            <input type="checkbox" value="" name="{{appid}}" id="{{appid}}" data-toggle="checkbox" disabled>
                                            Completed
                                        </label>
                                    {{/if}}
                                {{else}}
                                    {{#if completed}}
                                        <label class="checkbox checked">
                                            <input type="checkbox" value="" checked="checked" name="{{appid}}" id="{{appid}}" data-toggle="checkbox">
                                            Completed
                                        </label>
                                    {{else}}
                                        <label class="checkbox">
                                            <input type="checkbox" value="" name="{{appid}}" id="{{appid}}" data-toggle="checkbox">
                                            Completed
                                        </label>
                                    {{/if}}
                                {{/if}}
                            </span>
                            <div class="clearfix"></div>
                        </div>
                        <div class="game-tile">
                            <img class="game-thumbnail" src="http://media.steampowered.com/steamcommunity/public/images/apps/{{appid}}/{{img_logo_url}}.jpg" />

                            {{#if completed}}
                                <div class="thumbnail-overlay completed">
                            {{else}}
                                <div class="thumbnail-overlay">
                            {{/if}}

                                {{#if ../read_only}}
                                    {{#if completed}}
                                        <label class="checkbox disabled checked">
                                            <input type="checkbox" value="" checked="checked" name="{{appid}}" id="{{appid}}" data-toggle="checkbox" disabled>
                                            Completed
                                        </label>
                                    {{/if}}
                                {{else}}
                                    <label class="checkbox">
                                        {{#if completed}}
                                            <input type="checkbox" value="" checked="checked" name="{{appid}}" id="{{appid}}" data-toggle="checkbox">
                                        {{else}}
                                            <input type="checkbox" value="" name="{{appid}}" id="{{appid}}" data-toggle="checkbox">
                                        {{/if}}
                                        Completed
                                    </label>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <div style="text-align: center;">
                    <h2>Your library is empty!</h2>
                    <p>
                        This is usually a sign of your Steam profile being set to private rather than public.
                    </p>
                    <p>
                        To set your profile to be public take the following steps:
                        <ol style="display: inline-block;">
                            <li>Open up your profile in Steam</li>
                            <li>Click 'Edit Profile'</li>
                            <li>Click the 'My Privacy Settings' tab on the right hand side</li>
                            <li>Choose the 'Public' profile status option and click save</li>
                        </ol>
                    </p>
                </div>
            {{/if}}

            <div style="clear: both;"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(window).load(function() {
            $('.loading-notice').fadeOut(300, function () {
                $('.library-thumbnails').fadeIn(1000);
            });
        });

        $(':checkbox').checkbox();

        {{#unless read_only}}
            $('.game-thumbnail').hover(function() {
                if (!$(this).find('.thumbnail-overlay').hasClass('completed')) {
                    $(this).find('.thumbnail-overlay').stop().fadeIn(200);
                }
            },
            function () {
                if (!$(this).find('.thumbnail-overlay').hasClass('completed')) {
                    $(this).find('.thumbnail-overlay').stop().fadeOut(200);
                }
            });

            $('.thumbnail-overlay').click(function (e) {
                e.stopPropagation();
                $(this).find(':checkbox').checkbox('toggle');
            });

            $(':checkbox').on('toggle', function() {
                var app_id = $(this).attr('id');
                var set_as_completed = $(this).attr('checked');
                var post_data = { "app_id": app_id };

                $(this).parent().parent().toggleClass('completed');

                if (set_as_completed) {
                    $.ajax({
                        url: '/api/complete',
                        type: "POST",
                        contentType:"application/json; charset=utf-8",
                        dataType: "json",
                        data: JSON.stringify(post_data)
                    });
                }
                else {
                    $.post('/api/uncomplete', { "app_id": app_id });
                }
            });

            $(':checkbox').click(function (e) {
                e.stopPropagation();
                return false; 
            });
        {{/unless}}
    });
</script>