<div class="row">
    <div class="col-md-7">
        <h2 class="lead">Recent Activity</h2>
        {{#each latest_completions}}
            <div>
                <img src="{{user.avatar_small}}" /> <a href="/user/{{steam_id}}">{{user.username}}</a> completed <a href="http://store.steampowered.com/app/{{appid}}/" target="_blank">{{game_info.name}}</a>.
            </div>
        {{/each}}
    </div>
    <div class="col-md-5">
        <h2 class="lead">Most Completed Games</h2>
        {{#each most_completed}}
            <div>
                <img src="http://media.steampowered.com/steamcommunity/public/images/apps/{{game_info.appid}}/{{game_info.img_icon_url}}.jpg" /> {{game_info.name}} ({{percentage}}%)
            </div>
        {{/each}}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <hr style="margin-top: 40px;">   
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2 class="lead">What is Steam Overload?</h2>
        <p>
            Steam Overload is a utility to allow you to keep track of which games you have completed in your Steam library; particularly after the mayhem that is the Steam sales. In essence, it is a glorified check list, but one that can help save you some time when keeping track of your game list.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2 class="lead">Do you store any of my personal information?</h2>
        <p>
            <strong>No</strong>, when you use the "Sign in with Steam" button, you are authenticating yourself with <strong>Steam</strong> and then Steam simply informs the website of the user who signed in. No personal information is stored at all, other than information on which games you have marked as completed, of course.
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2 class="lead">I have found a bug / want to make a suggestion - what should I do?</h2>
        <p>
            If you have found a bug or want to make a suggestion on how Steam Overload can be improved, the preferred point of contact would be via <a href="https://github.com/rastating/steamoverload">The GitHub Page</a>. If you don't have an account on GitHub, you can also contact me personally via <a href="https://twitter.com/iamrastating">Twitter</a> or <a href="https://plus.google.com/u/0/101711965674283402975/posts">Google+</a>.
        </p>
    </div>
</div>