
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>SteamOverload.com - Keep track of the ludicrous amounts of games you buy in the sales!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/flat-ui.css" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/main.css" rel="stylesheet">

    <link rel="shortcut icon" href="/static/favicon.ico">

    <script src="/static/js/jquery-1.8.3.min.js"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
      <script src="/static/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
        {{#unless slim_header}}
            <div class="row header">
                <div class="col-md-9">
                    <h1 class="title"><i class="fa fa-steam hidden-xs"></i> SteamOverload.com</h1>
                    <p class="slogan">
                        keep track of your Steam library.
                    </p>
                </div>
                <div class="col-md-3">
                    {{#if user}}
                        <a href="/user/{{steam_id}}" class="btn btn-lg btn-info btn-block btn-signin"><i class="fa fa-hdd-o"></i> &nbsp;My Library</a>
                        <a href="/logout" class="btn btn-lg btn-danger btn-block"><i class="fa fa-sign-out"></i> &nbsp;Sign Out</a>
                    {{else}}
                        <a href="/auth/steam" class="btn btn-lg btn-info btn-block btn-signin"><i class="fa fa-sign-in"></i> &nbsp;Sign in using Steam</a>
                        <a href="https://github.com/rastating/steamoverload" class="btn btn-lg btn-warning btn-block"><i class="fa fa-github-alt"></i> &nbsp;Report a Problem</a>
                    {{/if}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>   
                </div>
            </div>
        {{else}}
            <div class="row header slim">
                <div class="col-md-12">
                    <a href="/" class="btn btn-inverse btn-lg pull-left"><i class="fa fa-steam"></i> SteamOverload.com</a>
                    <div class="pull-right">
                        {{#if user}}
                            <a href="/user/{{steam_id}}" class="btn btn-lg btn-info"><i class="fa fa-hdd-o"></i> &nbsp;My Library</a>
                            <a href="/logout" class="btn btn-lg btn-danger"><i class="fa fa-sign-out"></i> &nbsp;Sign Out</a>
                        {{else}}
                            <a href="/auth/steam" class="btn btn-lg btn-info"><i class="fa fa-sign-in"></i> &nbsp;Sign in using Steam</a>
                            <a href="https://github.com/rastating/steamoverload" class="btn btn-lg btn-warning"><i class="fa fa-github-alt"></i> &nbsp;Report a Problem</a>
                        {{/if}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>   
                </div>
            </div>
        {{/unless}}
        
        {{{body}}}

    </div>

    <div id="footer">
        <div class="container">
            <p class="text-muted">
                <small>
                    Copyright 2014 <a href="http://rastating.com/">rastating</a> - Released under the <a href="http://www.gnu.org/licenses/gpl-faq.html">GNU General Public License</a>
                </small>
            </p>
        </div>
    </div>

    <!-- Load JS here for greater good =============================-->
    <script src="/static/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="/static/js/jquery.ui.touch-punch.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/bootstrap-select.js"></script>
    <script src="/static/js/bootstrap-switch.js"></script>
    <script src="/static/js/flatui-checkbox.js"></script>
    <script src="/static/js/jquery.tagsinput.js"></script>
    <script src="/static/js/jquery.placeholder.js"></script>
  </body>
</html>