
.library-thumbnails {
    display: none;
    margin: 0 auto;
}



.thumbnail-overlay {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    color: #ffffff;

    /* default fallback */
    background: rgb(0, 0, 0) transparent;
    /* nice browsers */
    background: rgba(0, 0, 0, 0.75);
    /* IE 6/7 */
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#f2FFFFFF, endColorstr=#f2FFFFFF);
    /* IE8 */    
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#f2FFFFFF, endColorstr=#f2FFFFFF)";
}

.thumbnail-overlay .fa {
    height: 69px;
    line-height: 69px;
    font-size: 28px;
}

.game-thumbnail {
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.thumbnail-overlay .title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.game-detail-panel {
    width: 0px;
    height: 0px;
    position: absolute;
    opacity: 0;
    display: none;
    background-color: #000000;
    z-index: 999;
    color: #ffffff;
}

.thumbnail-overlay .checkbox {
    display: block;
    width: 100px;
    margin: 0 auto;
    margin-top: 25px;
}

.thumbnail-overlay.completed {
    display: block;
    visibility: visible;
}

@media only screen and (min-width : 480px) {
    .library-thumbnails {
        width: 555px;
    }

    h2.username {
        margin-bottom: 5px;
    }

    .summary p.lead {
        margin-bottom: 20px;
    }
}

@media only screen and (min-width : 768px) {
    .library-thumbnails {
        width: 740px;
    }
}

@media only screen and (min-width : 992px) {
    .library-thumbnails {
        width: 922px;
    }
}

@media only screen and (min-width : 1200px) {
    .library-thumbnails {
        width: 1105px;
    }
}

.summary {
    padding-bottom: 25px;
}

.summary .avatar {
    float: left;
    margin-right: 25px;
}

.block {
    display: block !important;
}

.game-list-item .checkbox.disabled.checked, .game-list-item .fui-checkbox-checked {
    color: #1abc9c !important;
}

.game-list-item {
    border-bottom: #ebedef 1px solid;
    margin-top: 1px;
    margin-bottom: 1px;
}

.game-list-item .checkbox {
    margin-bottom: 0px;
    margin-top: 6px;
}

.game-list-item.big-list .checkbox {
    margin-top: 20px;
    padding-left: 40px;
}

.game-list-item.big-list .checkbox .icons {
    font-size: 30px !important;
}

@media (max-width: 767px) {
    .pagination ul {
        padding: inherit !important;
    }
}

.game-list-item:hover {
    background-color: #f7f7f7;
}

.animated.gone {
    opacity: 0;
    visibility: hidden;
    display: block;
}

.animated.visible {
    -moz-transition: opacity 1s linear;
    -o-transition: opacity 1s linear;
    -webkit-transition: opacity 1s linear;
    -ms-transition: opacity 1s linear;
    transition: opacity 1s linear;
    opacity: 1;
    display: block;
}

.tile-thumbnail .thumbnail-overlay:not(.completed) {
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -webkit-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    opacity: 0;
    visibility: hidden;
}

.tile-thumbnail:not(.readonly):hover .thumbnail-overlay:not(.completed) {
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -webkit-transition: opacity 0.2s linear;
    -ms-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear;
    opacity: 1;
    visibility: visible;
}

.pagination > ul > li > a {
    cursor: pointer;
}