.header.slim {
    padding-top: 15px;
    padding-bottom: 15px;
    
    div {
        img {
            float: left;
            height: 40px;
        }

        .nav-buttons {
            float: right;
        }
    }
}
